.countdown {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-primary);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(14.4% 50%, 92% 50%, 85.6% 70%, 8% 70%)
}

.countdown_clock {
  @include clock-dimensions;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.change-date {
  color: white !important;
  position: absolute;
  left: 20%;
  top: 45%;
  font-weight: 100;
  font-size: 18px
}

//

.message-container {
  @include clock-dimensions;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}

.message-container_title {
  font-family: var(--roboto-condensed);
  color: var(--yellow-secondary);
  font-size: 22px;
  position: absolute;
  left: 10%;
  top: 5%;
}

.message-container_message {
  font-family: var(--roboto-condensed);
  font-size: 90px;
  font-weight: bold;
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: 100%;
}